In [16]:
# Import Libraries
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [5]:
# Import US Data
us_videos = pd.read_csv('data/USvideos.csv')
us_videos_categories = pd.read_json('data/US_category_id.json')
# Map Category IDs using the supporting file: US_category_id.json
categories = [{"id":int(category['id']), "category":category['snippet']['title']} for category in us_videos_categories['items']]
categories

[{'id': 1, 'category': 'Film & Animation'},
 {'id': 2, 'category': 'Autos & Vehicles'},
 {'id': 10, 'category': 'Music'},
 {'id': 15, 'category': 'Pets & Animals'},
 {'id': 17, 'category': 'Sports'},
 {'id': 18, 'category': 'Short Movies'},
 {'id': 19, 'category': 'Travel & Events'},
 {'id': 20, 'category': 'Gaming'},
 {'id': 21, 'category': 'Videoblogging'},
 {'id': 22, 'category': 'People & Blogs'},
 {'id': 23, 'category': 'Comedy'},
 {'id': 24, 'category': 'Entertainment'},
 {'id': 25, 'category': 'News & Politics'},
 {'id': 26, 'category': 'Howto & Style'},
 {'id': 27, 'category': 'Education'},
 {'id': 28, 'category': 'Science & Technology'},
 {'id': 29, 'category': 'Nonprofits & Activism'},
 {'id': 30, 'category': 'Movies'},
 {'id': 31, 'category': 'Anime/Animation'},
 {'id': 32, 'category': 'Action/Adventure'},
 {'id': 33, 'category': 'Classics'},
 {'id': 34, 'category': 'Comedy'},
 {'id': 35, 'category': 'Documentary'},
 {'id': 36, 'category': 'Drama'},
 {'id': 37, 'category': 'Family'},
 {'id': 38, 'category': 'Foreign'},
 {'id': 39, 'category': 'Horror'},
 {'id': 40, 'category': 'Sci-Fi/Fantasy'},
 {'id': 41, 'category': 'Thriller'},
 {'id': 42, 'category': 'Shorts'},
 {'id': 43, 'category': 'Shows'},
 {'id': 44, 'category': 'Trailers'}]

In [31]:
us_videos.head()

,title,channelId,channelTitle,categoryId,trending_date,view_count,likes,dislikes,comment_count
0,I ASKED HER TO BE MY GIRLFRIEND...,UCvtRTOMP2TqYqu51xNrqAzg,Brawadis,22,2020-08-12T00:00:00Z,1514614,156908,5855,35313
1,Apex Legends | Stories from the Outlands – “Th...,UC0ZV6M2THA81QT9hrVWJG3A,Apex Legends,20,2020-08-12T00:00:00Z,2381688,146739,2794,16549
2,I left youtube for a month and THIS is what ha...,UCYzPXprvl5Y-Sf0g4vX-m6g,jacksepticeye,24,2020-08-12T00:00:00Z,2038853,353787,2628,40221
3,XXL 2020 Freshman Class Revealed - Official An...,UCbg_UMjlHJg_19SZckaKajg,XXL,10,2020-08-12T00:00:00Z,496771,23251,1856,7647
4,Ultimate DIY Home Movie Theater for The LaBran...,UCDVPcEbVLQgLZX0Rt6jo34A,Mr. Kate,26,2020-08-12T00:00:00Z,1123889,45802,964,2196

In [45]:
# First Row
# us_videos = us_videos.drop(columns = ['video_id','publishedAt','tags','thumbnail_link','comments_disabled','ratings_disabled','description'])

us_videos.index.name = 'id'
us_videos.head()

,title,channelId,channelTitle,categoryId,trending_date,view_count,likes,dislikes,comment_count
id,,,,,,,,,
0,I ASKED HER TO BE MY GIRLFRIEND...,UCvtRTOMP2TqYqu51xNrqAzg,Brawadis,22,2020-08-12T00:00:00Z,1514614,156908,5855,35313
1,Apex Legends | Stories from the Outlands – “Th...,UC0ZV6M2THA81QT9hrVWJG3A,Apex Legends,20,2020-08-12T00:00:00Z,2381688,146739,2794,16549
2,I left youtube for a month and THIS is what ha...,UCYzPXprvl5Y-Sf0g4vX-m6g,jacksepticeye,24,2020-08-12T00:00:00Z,2038853,353787,2628,40221
3,XXL 2020 Freshman Class Revealed - Official An...,UCbg_UMjlHJg_19SZckaKajg,XXL,10,2020-08-12T00:00:00Z,496771,23251,1856,7647
4,Ultimate DIY Home Movie Theater for The LaBran...,UCDVPcEbVLQgLZX0Rt6jo34A,Mr. Kate,26,2020-08-12T00:00:00Z,1123889,45802,964,2196

In [7]:
# Create dataframe for category ID
cat_df = pd.DataFrame(categories)
cat_df.set_index("id",inplace=True)
cat_df

                 category
id
1        Film & Animation
2        Autos & Vehicles
10                  Music
15         Pets & Animals
17                 Sports
18           Short Movies
19        Travel & Events
20                 Gaming
21          Videoblogging
22         People & Blogs
23                 Comedy
24          Entertainment
25        News & Politics
26          Howto & Style
27              Education
28   Science & Technology
29  Nonprofits & Activism
30                 Movies
31        Anime/Animation
32       Action/Adventure
33               Classics
34                 Comedy
35            Documentary
36                  Drama
37                 Family
38                Foreign
39                 Horror
40         Sci-Fi/Fantasy
41               Thriller
42                 Shorts
43                  Shows
44               Trailers

In [56]:
# Creat database connection
connection_string = "postgres:postgres@localhost:5432/youtube_db"
engine = create_engine(f'postgresql://{connection_string}')

In [57]:
# Confirm tables
engine.table_names()

['categories', 'videos']

In [58]:
# Add category data to sql
cat_df.to_sql(name='categories', con=engine, if_exists='append', index=True)

In [59]:
# Add video data to sql
us_videos.to_sql(name='videos', con=engine, if_exists='append', index=True)